<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %} {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="static/functions.js"></script>

    <a class="home_button" href="home">
      <img src="https://cdni.rt.com/files/2021.01/xxl/6016b93285f54046e775c25b.JPG" class="img-circle" width="75" height="75" alt="">
    </a>
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
</html>
